@mixin palette {
    :root {
        --orange: #rgba(240,154,62,255);
        --skyblue: #rgba(0,188,212,255);
        --white: rgba(255,255,255,255);
        --darkgrey: rgba(255,255,255,255);
        --dirtwhite: rgba(247,245,244,255)
        --grey: rgba(126,136,144,255)
      }
}